/* All Content */
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    top: 0;
    left: 0;
    background-color: black;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-left: 10px;
    height: 50px;
}
li {
    text-decoration: underline;
    margin-right: 10px;
    display: inline-flex;
    justify-content: space-between;
}
li a {
    color: seashell;
    opacity: .9;
}

/* Our Mission */
.ourMission {
    background-image: url('../resources/images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
}
.missionDetails {
    background-color: black;
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.missionDetails h2 {
    margin-bottom: 5px;
}
.missionDetails h4 {
    margin-top: 5px;
}
/* Tea */
.tea {
    height: 750px;
    width: 1000px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.teaTitle h2, .teaTitle h4{
    margin: 20px auto;
}
.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teas img {
    height: 200px;
    width: 300px;
    margin: 0 15px;
}
.teas h4 {
    margin-top: 5px;
    margin-bottom: 35px;
}
/* Location */
.location {
    background-image: url('../resources/images/img-locations-background.jpg');
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.locationTitle {
    height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.locationTitle h2 {
    margin-bottom: 15px;
}
.locations {
    height: 380px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}
.loc {
    font-size: 18px;
    height: 260px;
    width: 300px;
    margin: 0 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.loc h3 {
    margin: 15px 0;
}
#downtown, #eastBayside, #oakdale {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0;

}
